@font-face {
  font-family: "icons";
  src: url("icons.eot?348d7f7ce090ee2ff596cb0c2482fa62?#iefix") format("embedded-opentype"),
url("icons.woff2?348d7f7ce090ee2ff596cb0c2482fa62") format("woff2"),
url("icons.woff?348d7f7ce090ee2ff596cb0c2482fa62") format("woff"),
url("icons.ttf?348d7f7ce090ee2ff596cb0c2482fa62") format("truetype"),
url("icons.svg?348d7f7ce090ee2ff596cb0c2482fa62#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i:before {
  font-family: icons !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-read-message:before {
  content: "\f101";
}
.i-send-message:before {
  content: "\f102";
}
