$white: #ffffff;
$black: #202020;
$gray: #ADADADAD;
$gray2: #bfbfbf;
$blue: #3674ff;
$blue1: #0685E8;
$message-typing-bg: #e5edff;
$message-typing-circle: #a6bdf0;
$gray1: #ececec;
$dialog-unread-count: #f46b6b;
$green: #00c980;
$mainBg: #f4f7fd;
$iconColor: #837790;
$divider: #f7f7f7;