@use 'sass:math';
@import 'colors';

$containerSize: 1140;
$vwMobile: 375;
$vwDesktop: $containerSize;
$breakDesktop: px($containerSize);
$breakMobile: 700px;
$breakMobileModalH: 680px;
$headerH: 60;
$borderR: 10;
$lineH: 22;
$layoutPadTopD: 59;
$layoutPadTopM: 23; 
$modalMaxH: 90vh;
$modalMaxW: 90vw;
$messageMB: 10;

$animationDuration: 0.3s;
$animationDurationFast: 0.15s;
$opDis: 0.5;
$modalTabsTop: 25;
$hoverDark: 15%;
$activeScale: 0.98;
$zoomScale: 1.02;


@function px($px) {
	@return $px * 1px;
}

@function dsc($px) {
	@return math.div(round(math.div($px * 10 , $vwDesktop) * 100vw),  10);
}

@function msc($px) {
	@return math.div(round(math.div($px * 10, $vwMobile) * 100vw), 10);
}
